nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 30px;
  padding-left: 30px;
  padding-right: 80px;
}

.nav__logo {
  height: 39px;
  width: 105px;
}

.nav__link {
  color: #000000;
  text-decoration: none;
  font-weight: bold;
  padding-top: 8px;
}
.nav__links {
  display: flex;
  list-style-type: none;
  padding: 0;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  gap: 20px;
}
